body {
  background-color: #FFF;
  color: #024141;
  font-family: raleway;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #024141 !important;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0px;
}

.btn-login {
  background-color: #024141;
  color: #fff;
}

.btn-login:hover {
  background-color: #078181;
  color: #fff;
}

@font-face {
  font-family: raleway;
  src: url("../libraries/fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: volkorn;
  src: url("../libraries/fonts/Vollkorn/Vollkorn-Regular.ttf");
}

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url(../images/bg.png);
  background-size: cover;
}

header h1, header p {
  color: #fff;
}

header h1 {
  font-family: raleway;
  font-weight: bold;
  font-size: 40px;
}

header p {
  font-size: 20px;
  font-weight: lighter;
}

header .btn-get-started {
  background-color: #F6831D;
  color: #fff;
}

header .btn-get-started:hover {
  background-color: #F5A258;
  color: #fff;
}

.section-stats {
  margin-top: -35px;
}

.stats-detail {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  padding-left: 40px;
}

h2 {
  font-size: 30px;
  margin-bottom: 0px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  margin-top: -31px;
  margin-bottom: -240px;
  background-color: #024141;
}

.section-popular-heading {
  margin-top: 150px;
}

.section-popular-heading h2, .section-popular-heading p {
  color: #fff;
}

.section-popular-heading h2 {
  font-family: volkorn;
  font-weight: bold;
  font-size: 35px;
}

.section-popular-heading p {
  font-weight: lighter;
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #ddd;
  color: #000;
  padding: 30px;
  background-size: hover;
  margin-bottom: 30px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 26px;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 18px;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #F6831D;
  color: #FFF;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #F5A258;
  color: #FFF;
}

.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-networks h2 {
  font-family: volkron;
  font-weight: bold;
  font-size: 35px;
}

.section-networks p {
  font-weight: lighter;
  font-size: 18px;
}

.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F7F9FF));
  background: linear-gradient(#fff 0%, #F7F9FF 100%);
  padding: 50px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-family: volkron;
  font-weight: bold;
  font-size: 35px;
}

.section-testimonial-heading p {
  font-weight: lighter;
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: volkorn;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-size: 22px;
  min-height: 160px;
  font-weight: lighter;
}

.section-testimonial-content .card-testimonial .trip-to {
  font-weight: normal;
  font-size: 20px;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
  background-color: #F6831D;
  color: #fff;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #F5A258;
  color: #fff;
}

.section-testimonial-content .btn-need-help {
  background-color: #F2F2F2;
  color: #C3C3C3;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #FAFAFA;
  color: #4d4b4b;
}

.section-footer a {
  color: #024141;
}

.section-footer h5 {
  font-weight: bold;
  font-family: Volkorn;
}

.section-details-header {
  min-height: 310px;
  background: #E4E6EB;
  margin-top: -70px;
}

.section-details-content {
  font-family: raleway;
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #024141;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content .card-details h1 {
  font-size: 35px;
  font-weight: bold;
}

.section-details-content .card-details h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.section-details-content .card-details p {
  font-size: 18px;
  color: #B1B1B1;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content .features h3 {
  font-size: 16px;
  color: #024141;
  margin-bottom: 0;
}

.section-details-content .features p {
  margin-bottom: 0;
  font-size: 14px;
}

.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
  border: 4px solid #1abc9c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .member .member-image {
  width: 45px;
  height: 45px;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .btn-join-now {
  background-color: #F6831D;
  color: #FFF;
}

.section-details-content .btn-join-now:hover {
  background-color: #F5A258;
  color: #ddd;
}

.section-details-content #doePassport {
  border: 1px solid #ced4da;
  padding-top: 0.375rem;
  padding-right: 1.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
}

.section-details-content .img-ic_datepicker {
  margin: 10px;
}

.section-details-content .btn-add-now {
  background-color: #024141;
  color: #fff;
}

.section-details-content .btn-add-now:hover {
  background-color: #078181;
  color: #fff;
}

.section-details-content .trip-informations th {
  font-weight: 300;
  color: #024141;
  font-size: 16px;
}

.section-details-content .trip-informations td {
  font-weight: 300;
  font-size: 16px;
  color: #B1B1B1;
}

.section-details-content .trip-informations .text-blue {
  color: #024141;
  font-weight: bold;
}

.section-details-content .trip-informations .text-orange {
  font-weight: bold;
  color: #F6831D;
}

.section-details-content .payment-instruction {
  font-weight: 300;
  font-size: 14px !important;
  color: #B1B1B1;
}

.section-details-content .bank .bank-item h3 {
  font-size: 16px;
  color: #024141;
  margin-bottom: 0;
}

.section-details-content .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .bank .bank-item p {
  font-weight: normal;
  font-size: 14px;
  color: #024141;
}

.section-details-content .bank .bank-image {
  width: 45px;
  float: left;
}

.section-details-content .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #B1B1B1;
}

.section-details-content h3 {
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  color: #024141;
}

.section-success {
  height: 70vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 30px;
  color: #024141;
}

.section-success p {
  font-weight: 300;
  font-size: 14px;
  color: #B1B1B1;
}

.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #024141;
  color: #fff;
}

.section-success .btn-home-page:hover {
  background-color: #078181;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */